{{>admin-tabs route='categories'}}
{{> messages}}
<div class="d-flex justify-content-center align-items-center text-white-50 bg-purple">
  <form class="row" action="/admin/categories" method="POST">
    <div class="col-auto">
      <input class="form-control" type="text" placeholder="Category Name" name="name">
    </div>
    <div class="col-auto">
      <button class="btn btn-success" type="submit">Create</button>
    </div>
  </form>
</div>
</br>
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Category Name</th>
      <th scope="col">Functions</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>
          <button type="button" class="btn btn-link">
            <a class="btn btn-outline-success me-3" href="/admin/categories/{{this.id}}">
              Edit
            </a>
          </button>
          <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-outline-danger me-3">Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<br />
<br />