<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'index'}}active{{/ifCond}}" href="/restaurants">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'news'}}active{{/ifCond}}" href="/restaurants/news">News</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'topRestaurants'}}active{{/ifCond}}" href="/top/restaurants">Top 10 Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'topUsers'}}active{{/ifCond}}" href="/top/users">Top 10 Foodies</a>
  </li>
</ul>
