<div class='border rounded mt-5 p-5 col-md-6 mx-auto'>
  <div class='mb-4 text-center'>
    <h1 class='h3 font-weight-normal mb-3'>Sign In</h1>
  </div>
  {{> messages}}
  <form class='form-signin' action='/signin' method='POST'>
    <div class='form-row mb-3'>
      <label class='form-label' for='email'>Email</label>
      <input
        class='form-control'
        id='email'
        type='text'
        name='email'
        class='form-control'
        placeholder='Email'
        required
        autofocus
      />
    </div>
    <div class='form-row mb-3'>
      <label class='form-label' for='password'>Password</label>
      <input
        class='form-control'
        id='password'
        type='password'
        name='password'
        class='form-control'
        placeholder='Password'
        required
      />
    </div>
    <div class='form-row d-flex justify-content-center mb-3'>
      <button class='btn btn-primary btn-block align-center' type='submit'>Sign
        in
      </button>
    </div>
  </form>
  <hr class='my-4' />
  <div class='social-media d-flex justify-content-center mb-3'>
    <form action='#' method='POST'><a class='btn' href='#'><i
          class='fa-brands fa-facebook fa-2xl'
          style='color: #0d6efd'
        ></i></a>
    </form>
    <form action='#' method='POST'><a class='btn' href='#'><i
          class='fa-brands fa-google fa-2xl'
          style='color: #0d6efd'
        ></i></a>
    </form>
    <form action='#' method='POST'><a class='btn' href='#'><i
          class='fa-brands fa-twitter fa-2xl'
          style='color: #0d6efd'
        ></i></a>
    </form>
  </div>
  <div class='text-center'>
    <p>No account ? <a href='/signup'>Sign Up</a></p>
  </div>
</div>